<%- include partials/header.ejs %> 

  
<%- include partials/main_nav.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h1 style="text-align: left;">About Me</h1>
      <div>
        <img src="/Assets/images/profile.jpeg" alt="profile" style="max-height: 150px; float: left;">
      </div>
      <div style="text-align: justify;">
        <p>I am a self-motivated hard-working person who loves to learn new skills. I am from India and I have completed
          my Bachelor's in Electronics and Communication Engineering. Currently, I am a student
          at Centennial colleger enrolled in the course Software Engineering
          Technology - Artifical Intelligence.   
        </p>
      </div>
      <div style="text-align: center;">
        <a href="/Assets/resume.pdf" class="btn btn-link btn-sm" target="blank">My Resume</a>
      </div>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





