<%- include partials/header.ejs %> 

  
<%- include partials/main_nav.ejs %>
  <div class="container">
    <div class="text-sm-center jumbotron">
      <h5 class="display-4">Hi, I am Neha Anil</h5>
      <h6>Artifical Intelligence | Systems Engineer | Electronics and Communication Engineer</h6>
      <p>To use my knowledge to develop my skills and contribute to making the world a better place.</p>
      
      <a class="btn-link btn-sm" href="/about">Know more about me</a>
    </div>

    <div class="jumbotron">
      <h1 style="text-align: left;">About Me</h1>
      <div>
        <img src="/Assets/images/profile.jpeg" alt="profile" style="max-height: 150px; float: left;">
      </div>
      <div style="text-align: justify;">
        <p>I am a self-motivated hard-working person who loves to learn new skills. I am from India and I have completed
          my Bachelor's in Electronics and Communication Engineering. Currently, I am a student
          at Centennial colleger enrolled in the course Software Engineering
          Technology - Artifical Intelligence.   
        </p>
      </div>
      <div style="text-align: center;">
        <a href="/Assets/resume.pdf" class="btn btn-link btn-sm" target="blank">My Resume</a>
      </div>
    </div>


    <div class="text-sm-center jumbotron">
      <h1><b>Projects</b></h1>
        <div class="row">

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem; ;">
              <img src="/Assets/images/project2.jpg">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Animatronics Arm</h6>
                  <p class="card-text">A robotic hand performing human like movements of grabbing/releasing by using motion-sensing technology.</p>
                  <h6 class="card-title">Result</h6>
                  <p class="card-text">Can be used as a prosthetic arm, in industrial applications, bomb defusing and many more
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem; margin-left: 70px;">
              <img src="/Assets/images/project1.jpg">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Automatic Plant Watering System</h6>
                  <p class="card-text">Automatically waters plant depending on the soil moisture</p>
                  <h6 class="card-title">Outcome</h6>
                  <p class="card-text">Better irrigation system for farming
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem;margin-left: 140px ;">
              <img src="/Assets/images/project3.png">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Portfolio</h6>
                  <p class="card-text">A portfolio which includes about me, my projects and services</p>
                  <h6 class="card-title">Outcome</h6>
                  <p>work in progress</p>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

    <div class="text-sm-center jumbotron">
      <h6>Services</h6>
    </div>

    <div class="text-sm-center jumbotron" id='contact'>
      <h4>Contact Me</h4>
      <form>
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input type="email" class="form-control" id="name" placeholder="Your Email">
        </div>
        <div class="form-group">
          <label for="message"></label>
          <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
        </div>
        <button type="send" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>

    <div id="home">
      <div class="bg-gradient padding-1 border-radius-30"></div>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





