<!--Home page-->
<%- include partials/header.ejs %>   
<%- include partials/main_nav.ejs %>

  <div class="container" style="align-items: center;">
    <div class="jumbotron left" style="background-color: cornsilk; margin-top: 100px; margin-bottom: 100px;">
      <h5 class="display-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">Hi, I am Neha Anil</h5>
      <h6>Artifical Intelligence | Systems Engineer | Electronics and Communication Engineer</h6>
      <p>To use my knowledge to develop my skills and contribute to making the world a better place.</p>
      <h6 style="font-style: italic;">“Success is not final, failure is not fatal: it is the courage to continue that counts." - Winston Churchill</h6>
      <a class="btn-link btn-sm" href="/about">Know more about me</a>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





