<%- include partials/header.ejs %> 

  
<%- include partials/main_nav.ejs %>
  <main class="container">
    <div class="text-sm-center jumbotron">
      <h4 class="display-4">Welcome to my Portfolio!!</h4>
      <p class="lead">I am Neha Anil</p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">Know more about me</a>
    </div>

    <div class="text-sm-center jumbotron">
      <h6>This is about me</h6>
    </div>


    <div class="text-sm-center jumbotron">
      <h6>Projects</h6>
    </div>

    <div class="text-sm-center jumbotron">
      <h6>Services</h6>
    </div>

    <div class="text-sm-center jumbotron" id='contact'>
      <form id = 'contact'>
        <input class="input" name="name" type="text" required placeholder="Enter your name">
      </form>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





