<%- include partials/header.ejs %> 

  
<%- include partials/main_nav.ejs %>
  <div class="container">

    <div class="text-sm-center jumbotron">
      <h1><b>Projects</b></h1>
        <div class="row">

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem; ;">
              <img src="/Assets/images/project2.jpg">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Animatronics Arm</h6>
                  <p class="card-text">A robotic hand performing human like movements of grabbing/releasing by using motion-sensing technology.</p>
                  <h6 class="card-title">Result</h6>
                  <p class="card-text">Can be used as a prosthetic arm, in industrial applications, bomb defusing and many more
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem; margin-left: 70px;">
              <img src="/Assets/images/project1.jpg">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Automatic Plant Watering System</h6>
                  <p class="card-text">Automatically waters plant depending on the soil moisture</p>
                  <h6 class="card-title">Outcome</h6>
                  <p class="card-text">Better irrigation system for farming
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div style="float: left; width: 25%; padding: 0 30px;">
            <div class="card" style="width: 20rem;margin-left: 140px ;">
              <img src="/Assets/images/project3.png">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h6 class="card-title">Portfolio</h6>
                  <p class="card-text">A portfolio which includes about me, my projects and services</p>
                  <h6 class="card-title">Outcome</h6>
                  <p>work in progress</p>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>

  </main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>





